In [119]:
# initial imports
import pandas as pd
from pathlib import Path

In [120]:
#set file path
file_path = Path("./settlements.csv")
# create dataframe
df = pd.read_csv(file_path)

In [121]:
# checking file
df.head(5)

,TransactionDate,SettlementDate,TransactionAccount,CurrencyPair,PrimaryCurrencyQuantity,SecondaryCurrencyQuantity
0,2/3/2021,2/5/2021,Client C,AUD/JPY,1000000,-84327000
1,2/3/2021,2/5/2021,Client B,AUD/JPY,1000000,-84311000
2,2/3/2021,2/5/2021,Client C,AUD/JPY,1000000,-84284000
3,2/3/2021,2/5/2021,Client C,AUD/JPY,1000000,-84258000
4,2/3/2021,2/5/2021,Client A,AUD/JPY,1000000,-84217000

In [122]:
#create dataframe with relevant columns
table_one = df[['CurrencyPair','PrimaryCurrencyQuantity','SecondaryCurrencyQuantity']].copy()

In [123]:
# groupby method to group by "Currency Pair" and sum values
table_one = table_one.groupby('CurrencyPair').sum()

In [124]:
#The overall settlement figures (i.e. net quantity) for each currency.

table_one

              PrimaryCurrencyQuantity  SecondaryCurrencyQuantity
CurrencyPair
AUD/JPY                      12480880                -1048220432
AUD/NZD                      32612277                  -35105206
AUD/USD                     -35185412                   24774966
CHF/JPY                       -656000                   77186292
EUR/AUD                       1276000                   -1977360
EUR/CHF                       1592000                   -1770747
EUR/GBP                       3715253                   -2814353
EUR/JPY                      18774979                -2454872440
EUR/NOK                      -3000000                   28600640
EUR/NZD                        -55000                      91960
EUR/PLN                      -3999000                   17635627
EUR/SEK                       7750000                  -72709920
EUR/USD                     -27974847                   30586657
GBP/AUD                        312000                    -638503
GBP/CHF                       -875000                    1285048
GBP/JPY                       -619500                  107244661
GBP/NZD                        -57000                     125787
GBP/SGD                         -1000                       2059
GBP/THB                            -6                          0
GBP/USD                       1863500                   -2678331
NZD/JPY                        173000                  -13623600
NZD/USD                      39727756                  -25944459
USD/CAD                      -3385898                    4759081
USD/CHF                      -5000000                    5095710
USD/CNH                      -3944123                   26399239
USD/HKD                      -1000000                    7859300
USD/JPY                     -35669716                 4335160211
USD/MXN                        900000                  -16676250
USD/RUB                             0                          0
USD/SEK                         -1000                       8582
USD/SGD                      -2835000                    4081635
USD/THB                             0                      60000
USD/TRY                      -8501000                   25141704
USD/ZAR                       2000000                  -32409600
XAG/USD                         -1500                      21456
XAU/USD                          -905                    1017179

In [125]:
# Export table to directory for future use.
table_one.to_csv('table_one.csv')

In [126]:
#Settlement figures for each currency, seperated by Settlement Date and Counterparty

table_two = df.groupby(['CurrencyPair', 'SettlementDate','TransactionAccount']).sum()

In [127]:
table_two

                                                PrimaryCurrencyQuantity  \
CurrencyPair SettlementDate TransactionAccount
AUD/JPY      2/5/2021       Client A                            5219000
                            Client B                           -2142120
                            Client C                            9404000
AUD/NZD      2/5/2021       Client A                           25977277
                            Client B                            1746000
...                                                                 ...
USD/ZAR      2/5/2021       Client A                           -1000000
                            Client B                            1000000
                            Client C                            2000000
XAG/USD      2/5/2021       Client A                              -1500
XAU/USD      2/5/2021       Client A                               -905

                                                SecondaryCurrencyQuantity
CurrencyPair SettlementDate TransactionAccount
AUD/JPY      2/5/2021       Client A                           -437938336
                            Client B                            179686253
                            Client C                           -789968349
AUD/NZD      2/5/2021       Client A                            -27984356
                            Client B                             -1878600
...                                                                   ...
USD/ZAR      2/5/2021       Client A                             16422400
                            Client B                            -16177000
                            Client C                            -32655000
XAG/USD      2/5/2021       Client A                                21456
XAU/USD      2/5/2021       Client A                              1017179

[83 rows x 2 columns]

In [128]:
# Export table to directory for future use.
table_two.to_csv('table_two.csv')

In [129]:
# There were some abnormalities in the file in the 'PrimaryCurrencyQuantity'	'SecondaryCurrencyQuantity' columns
# some values were written with more than one period example; '112883..76'
# So the data frame was not reading the columns as INT and therefore not performing the additions.
# Once I got rid of these abnormalities the methods (groupby) worked.